.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--overlay-bg);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-short);
  z-index: 5;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}


.recipe-container {
  padding-block-end: 36px;
}

.recipe-container .grid-list {
  position: relative;
}

.recipe-container .title-wrapper {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 16px;
}


.btn-filter.active {
  position: fixed;
  bottom: calc(var(--mobile-nav-height) + 16px);
  right: 16px;
  z-index: 1;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-8);
  height: 48px;
  padding-inline: 16px;
  gap: 12px;
  transition: none;
  animation: btn-filter-active 200ms var(--transition-timing-function) forwards;
}

@keyframes btn-filter-active {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.load-more {
  position: relative;
  margin-block-start: 8px;
  align-items: center;
}

.info-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: var(--weight-medium);
  opacity: 0.7;
}


/**
 * responsive for larger than 992px screen
 */

@media (min-width : 992px) {

  .recipe-page {
    position: relative;
    display: flex;
  }

  .btn-filter,
  .overlay {
    display: none;
  }

}