.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card:not(:has(.skeleton)) {
    animation: fade-in 500ms var(--transition-timing-function) forwards;
    transform: translateY(30px);
    opacity: 0;
}

@keyframes fade-in {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card-media {
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-4);
}

.card-body {
    flex-grow: 1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.card-link {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow-y: hidden;
    transition: var(--transition-short);

}

.card-link:where(:hover, :focus-visible) {
    color: var(--primary);

}

.card-link::before {
    content: "";
    position: absolute;
    inset: 0;
}

.card :where(.meta-wrapper, .meta-item) {
    display: flex;
    align-items: center;
}

.card .meta-wrapper {
    justify-content: space-between;
}

.card .meta-item {
    gap: 8px;
}

.card .meta-item .material-symbols-outlined {
    font-size: 1.8rem;
}

.saved .bookmark-add,
.removed .bookmark {
    display: none;
}

.saved .bookmark {
    font-variation-settings: 'FILL' 1;
}


/* card skeleton */

.skeleton-card .card-banner {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: var(--radius-4);
}

.skeleton-card .card-title {
    margin-block: 8px;
    height: 16px;
    width: 50%;
}

.skeleton-card .card-text {
    height: 12px;
    width: 80%;
}