.filter-bar {
    position: fixed;
    top: 0;
    right: -400px;
    background-color: var(--background);
    max-width: 400px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    visibility: hidden;
    transition: var(--transition-short);
    z-index: 6;
}


.filter-bar.active {
    visibility: visible;
    transform: translateX(-400px);
    transition: var(--transition-medium);
}

.filter-bar .title-wrapper {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.filter-bar .title-wrapper .title-medium {
    margin-inline-end: auto;
}

.filter-bar .close-btn {
    background-color: transparent;
    margin: -8px;
}

.filter-content {
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: contain;
    scrollbar-width: none;
    padding-block-end: 16px;
}

.filter-content::-webkit-scrollbar {
    display: none;
}

.filter-content .search-wrapper {
    padding: 12px 24px
}

.accordion-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 16px 24px;
    color: var(--on-background-variant);
}

.accordion-btn .label-large {
    margin-inline-end: auto;
}

.accordion-content {
    padding-inline: 24px;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transition-short);
}

.accordion-overflow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}

.accordion-btn[aria-expanded="true"] {
    background-color: var(--alpha-10);
}

.accordion-btn[aria-expanded="true"] .trailing-icon {
    transform: rotate(180deg);
}

.accordion-btn[aria-expanded="true"]+.accordion-content {
    padding-block: 8px 12px;
    grid-template-rows: 1fr;
}

.filter-actions {
    display: flex;
    gap: 12px;
    padding: 24px;
    border-block-start: 1px solid var(--outline);
}

.filter-actions .btn {
    max-width: 100%;
    width: 100%;
}



/**
 * responsive for larger than 600px screen
 */

@media (min-width : 600px) {

    .filter-bar {
        border-radius: var(--radius-8) 0 0 var(--radius-8);
    }

}

/**
 * responsive for larger than 992px screen
 */

@media (min-width : 992px) {

    .filter-bar,
    .filter-bar.active {
        all: unset;
        position: sticky;
        top: var(--header-height);
        margin-block-start: -16px;
        height: calc(100vh - var(--header-height));
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-inline-end: 1px solid var(--outline);
        overflow: hidden;
    }


    .filter-bar::-webkit-scrollbar {
        width: 4px;
    }

    .filter-bar::-webkit-scrollbar-thumb {
        background-color: var(--alpha-20);
    }

    .filter-bar .close-btn {
        display: none;
    }

    .filter-content {
        overflow-y: auto;
    }

}