.slider {
    --gap: 8px;
    position: relative;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding-block-end: 5px;
  }
  
  .slider::-webkit-scrollbar {
    height: 4px;
  }
  
  .slider::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .slider:where(:hover, :focus-visible)::-webkit-scrollbar-thumb {
    background-color: var(--alpha-10);
  }
  
  
  .slider-wrapper {
    display: flex;
    align-items: stretch;
    gap: var(--gap);
    transition: var(--transition-medium);
  }
  
  .slider-item {
    min-width: calc(50% - 4px);
    scroll-snap-align: start;
  }
  
  
  .load-more-card {
    height: 100%;
    background-color: var(--primary-container);
    border-radius: var(--radius-4);
    border: 1px solid var(--outline);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }


  /**
 * responsive for larger than 600px screen
 */

@media (min-width : 600px) {
    .slider-item {
        min-width: 206px;
      }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width : 992px) {
    .slider-item {
        min-width: calc(20% - 6.4px);
    }
}
  /**
 * responsive for larger than 1280px screen
 */

@media (min-width : 1280px) {
    .slider-item {
        min-width: calc(16.66% - 6.5px);
    }
}